/* /Components/ModalDialog.razor.rz.scp.css */
.modal-content[b-tohvgyw1y7] {
    background-color: #404040;
}

.modal-body[b-tohvgyw1y7] {
    text-align: center;
}

.modal-title[b-tohvgyw1y7] {
    text-align: center;
}
/* /Components/UpdateAvailableDetector.razor.rz.scp.css */
.floating-update-button[b-dhvqprm7at] {
  position: fixed;

  right: 2rem;
  bottom: 2rem;

  padding: 1rem 1.5rem;

  animation: fadein-b-dhvqprm7at 2s ease-out;
}

@keyframes fadein-b-dhvqprm7at {
  from { right: -100%; }
  to { right: 2rem; }
}
/* /Layout/MainLayout.razor.rz.scp.css */
/* Global page container */
/*.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    min-height: 91vh;
}*/

/* Main content area */
/*main {
    flex: 1;
    background-color: var(--bg-color);
    color: var(--text-color);
}*/

/* Sidebar with gradient */
/*.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: var(--text-color);*/ /* Light text color in sidebar */
/*}*/

/* Top row for the header */
/*.top-row {
    background-color: #2a2a2a;*/ /* Dark gray background for header */
    /*border-bottom: 1px solid #444444;*/ /* Dark border */
    /*justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: var(--text-color);*/ /* Text color for header */
/*}*/

    /* Links and buttons in the top row */
    /*.top-row ::deep a,
    .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: var(--accent-color);*/ /* Accent color for links */
    /*}

        .top-row ::deep a:hover,
        .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }*/

/* Responsiveness for small screens */
/*@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a,
        .top-row ::deep .btn-link {
            margin-left: 0;
        }
}*/

/* Large screen layout adjustments */
/*@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.footer {
    background-color: #292b3a;
    color: #ffffff;
    text-align: center;
    padding: 22px 0;
    width: 100%;
    box-sizing: border-box;
    background-image: url('img/ArminChristmas.png');
    background-size: 80px;
    background-position: center;
    background-blend-mode: overlay;
}

html, body {
    height: 100%;
    margin: 0;
}

.mud-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}*/
/* /Layout/NavMenu.razor.rz.scp.css */
/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
    
    .nav-scrollable {*/
        /* Allow sidebar to scroll for tall menus */
        /*height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}*/
/* /Pages/Home.razor.rz.scp.css */
.header-section[b-pytu1ulssn] {
    text-align: center;
    padding: 35px;
    background-color: #1e1e2f;
    color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

h2[b-pytu1ulssn] {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.about-section[b-pytu1ulssn],
.portfolio-section[b-pytu1ulssn],
.contact-section[b-pytu1ulssn],
.experience-section[b-pytu1ulssn],
.skills-section[b-pytu1ulssn],
.community-section[b-pytu1ulssn] {
    padding: 20px;
    margin: 40px auto;
    max-width: 900px;
    background-color: #292b3a;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 15px 7px rgba(0, 0, 0, 0.2);
}

.contact-links[b-pytu1ulssn] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-item[b-pytu1ulssn] {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

    .contact-item i[b-pytu1ulssn] {
        font-size: 1.7rem;
        color: #ffcc00;
    }

    .contact-item a[b-pytu1ulssn] {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

        .contact-item a:hover[b-pytu1ulssn] {
            text-decoration: underline;
            text-decoration-color: #904cff;
        }

@media (max-width: 768px) {
    .contact-links[b-pytu1ulssn] {
        padding: 0 20px;
    }

    .contact-item[b-pytu1ulssn] {
        font-size: 1rem;
    }
}

.portfolio-section h2[b-pytu1ulssn] {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.experience-section .experience-grid[b-pytu1ulssn],
.skills-section .skills-grid[b-pytu1ulssn],
.community-section .community-grid[b-pytu1ulssn] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.experience-box[b-pytu1ulssn],
.skill-box[b-pytu1ulssn],
.community-box[b-pytu1ulssn] {
    text-align: left;
    background-color: #39365a;
    color: #fff;
    padding: 20px;
    margin: 7px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .experience-box:hover[b-pytu1ulssn],
    .skill-box:hover[b-pytu1ulssn],
    .community-box:hover[b-pytu1ulssn],
    .project-box:hover[b-pytu1ulssn] {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .experience-section p[b-pytu1ulssn],
    .community-box p[b-pytu1ulssn] {
        margin: 5px 0;
        font-size: 1rem;
    }

    .experience-box a[b-pytu1ulssn] {
        color: lightblue;
    }
        .experience-box a:hover[b-pytu1ulssn] {
            text-decoration: underline;
            text-decoration-color: #904cff;
        }

    .experience-box strong[b-pytu1ulssn],
    .community-box strong[b-pytu1ulssn] {
        color: #ffcc00;
    }

    .experience-section h3[b-pytu1ulssn],
    .community-box h3[b-pytu1ulssn],
    .project-box h3[b-pytu1ulssn] {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-bottom: 10px;
    }

.experience-badges[b-pytu1ulssn] {
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

.badge[b-pytu1ulssn] {
    background-color: #00b7f1;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.skills-grid span[b-pytu1ulssn] {
    font-size: 1.2rem;
    color: #fff;
}

.project-grid[b-pytu1ulssn] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-box[b-pytu1ulssn] {
    background-color: #39365a;
    padding: 20px;
    border-radius: 8px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-description[b-pytu1ulssn] {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 15px;
}

.project-box a[b-pytu1ulssn] {
    display: inline-block;
    margin: 5px 10px;
    padding: 8px 15px;
    background-color: #c29b00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

    .project-box a:hover[b-pytu1ulssn] {
        background-color: #d8ad02;
    }

.disabled-link[b-pytu1ulssn] {
    pointer-events: none;
    color: gray;
    text-decoration: none;
}

@media (max-width: 768px) {
    .experience-box[b-pytu1ulssn],
    .skill-box[b-pytu1ulssn],
    .community-box[b-pytu1ulssn],
    .project-box[b-pytu1ulssn] {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .experience-box[b-pytu1ulssn],
    .skill-box[b-pytu1ulssn],
    .community-box[b-pytu1ulssn],
    .project-box[b-pytu1ulssn] {
        width: 100%;
    }
}
