@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider IsDarkMode="true" Theme="MyCustomTheme" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<UpdateAvailableDetector />

<MudLayout>
    <MudAppBar Fixed="true" Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(DrawerToggle)" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Width="240px">
        <MudDrawerHeader >

        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
@*     <footer class="footer">
        <div class="footer-content">
            <p>© 2024 Denty</p>
        </div>
    </footer> *@
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteDark = new PaletteDark()
            {
                Surface = "#16161d",
                Background = "#0B0510",
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}

<style>
    .footer {
        background-color: #292b3a;
        color: #ffffff;
        text-align: center;
        padding: 22px 0;
        width: 100%;
        box-sizing: border-box;
        background-image: url('img/ArminChristmas.png');
        background-size: 80px;
        background-position: center;
        background-blend-mode: overlay;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    .mud-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .main-content {
        flex: 1;
    }

</style>