@inherits LayoutComponentBase

<div class="page">

    <main>
        @Body
    </main>
</div>
<UpdateAvailableDetector />
<footer class="footer">
    <div class="footer-content">
        <p>© 2024 Denty</p> 
    </div>
</footer>