@inject IDialogService DialogService

<div class="image-row">
    @foreach (var box in Items)
    {
        <div class="image-container">
            <MudText Typo="Typo.h6" Align="Align.Center">@box.Text</MudText>
            <MudImage Style="width: 100%; max-width: 200px; height: auto;"
                      Src="@box.ImageSrc"
                      Elevation="25"
                      @onclick="() => OpenDialogAsync(box)" />
        </div>
    }
</div>

@code {
    [Parameter] public List<VendorBox> Items { get; set; } = new();

    private async Task OpenDialogAsync(VendorBox box)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var parameters = new DialogParameters
        {
            { "VendorBox", box }
        };

        await DialogService.ShowAsync<Dialog.DestinyVenderDialog>("Vendor Items", parameters, options);
    }

    public class VendorBox
    {
        public string Text { get; set; } = string.Empty;
        public string ImageSrc { get; set; } = string.Empty;
        public List<VendorItem> VendorItems { get; set; } = new();
    }

    public class VendorItem
    {
        public string ItemName { get; set; } = string.Empty;
        public string ImageSrc { get; set; } = string.Empty;
    }
}
