@inject ISnackbar SnackbarService
@inject IJSRuntime _jsRuntime
@inject NavigationManager NavigationManager

@if (_newVersionAvailable)
{
    var config = (SnackbarOptions options) =>
    {
        options.RequireInteraction = true;
        options.ShowCloseIcon = true;
        options.Action = "Update";
        options.ActionColor = Color.Info;
        options.SnackbarVariant = Variant.Outlined;
        options.OnClick = Snackbar =>
        {
            _newVersionAvailable = false;
            StateHasChanged();
            ReloadPage();
            return Task.CompletedTask;
        };
    };

    SnackbarService.Add(@<span>A new version of the app is available.<br /> <b>Version:</b> @UpdateService.NewVersion<br /><b>Update:</b> @UpdateService.UpdateChanges</span>, Severity.Info, configure: config);
}

@code {
    private bool _newVersionAvailable = false;

    protected override async Task OnInitializedAsync()
    {
        await RegisterForUpdateAvailableNotification();
    }

    private async Task RegisterForUpdateAvailableNotification()
    {
        await _jsRuntime.InvokeAsync<object>(
            identifier: "registerForUpdateAvailableNotification",
            DotNetObjectReference.Create(this),
            nameof(OnUpdateAvailable));
    }

    [JSInvokable(nameof(OnUpdateAvailable))]
    public Task OnUpdateAvailable(string Version, string Changelog)
    {
        Console.WriteLine($"Update available! Version: {Version} Changelog: {Changelog}");

        UpdateService.NotifyUpdate(Version, Changelog);
        _newVersionAvailable = true;
        StateHasChanged();

        return Task.CompletedTask;
    }

    private void ReloadPage()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    private void UpdateStorage()
    {

    }
}