.header-section {
    text-align: center;
    padding: 35px;
    background-color: #2a133d;
    color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

mud-typography-h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.about-section,
.portfolio-section,
.contact-section,
.experience-section,
.skills-section,
.community-section {
    padding: 20px;
    margin: 40px auto;
    max-width: 900px;
    background-color: #2a133d;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 15px 7px rgba(0, 0, 0, 0.2);
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

    .contact-item i {
        font-size: 1.7rem;
        color: #ffcc00;
    }

    .contact-item a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

        .contact-item a:hover {
            text-decoration: underline;
            text-decoration-color: #904cff;
        }

@media (max-width: 768px) {
    .contact-links {
        padding: 0 20px;
    }

    .contact-item {
        font-size: 1rem;
    }
}

.portfolio-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.experience-section .experience-grid,
.skills-section .skills-grid,
.community-section .community-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.experience-box,
.skill-box,
.community-box {
    text-align: left;
    background-color: #200e2e;
    color: #fff;
    padding: 20px;
    margin: 7px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .experience-box:hover,
    .skill-box:hover,
    .community-box:hover,
    .project-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .experience-section p,
    .community-box p {
        margin: 5px 0;
        font-size: 1rem;
    }

    .experience-box a {
        color: lightblue;
    }
        .experience-box a:hover {
            text-decoration: underline;
            text-decoration-color: #904cff;
        }

    .experience-box strong,
    .community-box strong {
        color: #863f7e;
    }

    .experience-section h3,
    .community-box h3,
    .project-box h3 {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-bottom: 10px;
    }

.experience-badges {
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

.badge {
    background-color: #863f7e;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.skills-grid span {
    font-size: 1.2rem;
    color: #fff;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-box {
    background-color: #200e2e;
    padding: 20px;
    border-radius: 8px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-description {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 15px;
}

.project-box a {
    display: inline-block;
    margin: 5px 10px;
    padding: 8px 15px;
    background-color: #c29b00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

    .project-box a:hover {
        background-color: #d8ad02;
    }

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
}

@media (max-width: 768px) {
    .experience-box,
    .skill-box,
    .community-box,
    .project-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .experience-box,
    .skill-box,
    .community-box,
    .project-box {
        width: 100%;
    }
}
