@page "/"

<PageTitle>Denty</PageTitle>

<head>
    <!-- Primary Meta Tags -->
    <title>Denty - About Me</title>
    <meta name="title" content="Denty - About Me" />
    <meta name="description" content="My Portfolio" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dentytxr.github.io/" />
    <meta property="og:title" content="Denty - About Me" />
    <meta property="og:description" content="My Portfolio" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://dentytxr.github.io/" />
    <meta property="twitter:title" content="Denty - About Me" />
    <meta property="twitter:description" content="My Portfolio" />

    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
</head>
