@page "/"

<PageTitle>Denty</PageTitle>

<head>
    <!-- Primary Meta Tags -->
    <title>Denty - About Me</title>
    <meta name="title" content="Denty - About Me" />
    <meta name="description" content="My Portfolio" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dentytxr.github.io/" />
    <meta property="og:title" content="Denty - About Me" />
    <meta property="og:description" content="My Portfolio" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://dentytxr.github.io/" />
    <meta property="twitter:title" content="Denty - About Me" />
    <meta property="twitter:description" content="My Portfolio" />

    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

</head>

<br />

<MudText Align="Align.Center" Typo="Typo.h2" Style="color:#8b36b2;">Hello, I'm Denty :)</MudText>
<MudText Align="Align.Center" Typo="Typo.h6">Welcome to my about me page/portfolio</MudText>


<section class="about-section">
    <MudText Align="Align.Center" Typo="Typo.h3" Style="color:#8b36b2;">About Me</MudText>
    <MudText>Hello! I'm an 18 year old (03/01/2006) living in the United States.</MudText>
    <MudText>I’m available for hire for work related to the skills and projects showcased on this page, such as plugin development. Feel free to send me an email with details about your request.</MudText>
</section>

<section class="skills-section">
    <MudText Align="Align.Center" Typo="Typo.h3" Style="color:#8b36b2;">Programming Languages</MudText>
    <br />
    <div class="skills-grid">
        <div class="skill-box">
            <svg viewBox="0 0 128 128">
                <path fill="#9B4F96" d="M115.4 30.7L67.1 2.9c-.8-.5-1.9-.7-3.1-.7-1.2 0-2.3.3-3.1.7l-48 27.9c-1.7 1-2.9 3.5-2.9 5.4v55.7c0 1.1.2 2.4 1 3.5l106.8-62c-.6-1.2-1.5-2.1-2.4-2.7z"></path>
                <path fill="#68217A" d="M10.7 95.3c.5.8 1.2 1.5 1.9 1.9l48.2 27.9c.8.5 1.9.7 3.1.7 1.2 0 2.3-.3 3.1-.7l48-27.9c1.7-1 2.9-3.5 2.9-5.4V36.1c0-.9-.1-1.9-.6-2.8l-106.6 62z"></path>
                <path fill="#fff" d="M85.3 76.1C81.1 83.5 73.1 88.5 64 88.5c-13.5 0-24.5-11-24.5-24.5s11-24.5 24.5-24.5c9.1 0 17.1 5 21.3 12.5l13-7.5c-6.8-11.9-19.6-20-34.3-20-21.8 0-39.5 17.7-39.5 39.5s17.7 39.5 39.5 39.5c14.6 0 27.4-8 34.2-19.8l-12.9-7.6zM97 66.2l.9-4.3h-4.2v-4.7h5.1L100 51h4.9l-1.2 6.1h3.8l1.2-6.1h4.8l-1.2 6.1h2.4v4.7h-3.3l-.9 4.3h4.2v4.7h-5.1l-1.2 6h-4.9l1.2-6h-3.8l-1.2 6h-4.8l1.2-6h-2.4v-4.7H97zm4.8 0h3.8l.9-4.3h-3.8l-.9 4.3z"></path>
            </svg>
            <span>C-Sharp (Self-Taught)</span>
        </div>
    </div>
</section>

<section class="experience-section">
    <MudText Align="Align.Center" Typo="Typo.h3" Style="color:#8b36b2;">Experience</MudText>
    <br />
    <div class="experience-grid">
        <div class="experience-badges">
            <span class="badge">4-5 Years of Community Management Experience</span>
            <span class="badge">2-3 Years of Tech Support Experience</span>
            <span class="badge">4-5 Years with C-Sharp</span>
        </div>
        <div class="experience-box">
            <MudText Align="Align.Left" Typo="Typo.h4">Technical Support Specialist @@ <a href="https://scpslgame.com/" target="_blank">Northwood Studios</a></MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"><strong>Duration:</strong> August 2024 - Present</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"  ><strong>Responsibilities:</strong> Providing players and internal with technical support for SCP:SL client/dedicated server related.</MudText>
        </div>
        <div class="experience-box">
            <MudText Align="Align.Left" Typo="Typo.h4">C# Game Plugin Developer</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"  ><strong>Duration:</strong> March 2020 - Present</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"  ><strong>Responsibilities:</strong> Making different types of plugins for games, mainly SCP:SL, including moderation solutions and tools, gameplay modifications, in-game events for players, etc.</MudText>
        </div>
        <div class="experience-box">
            <MudText Align="Align.Left" Typo="Typo.h4"  >SCP:SL Technical Assistant</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"><strong>Duration:</strong> June 2020 - July 2022</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"><strong>Responsibilities:</strong> Providing players with technical support for SCP:SL client/dedicated server related.</MudText>
        </div>
    </div>
</section>


<section class="community-section">
    <MudText Align="Align.Center" Typo="Typo.h3" Style="color:#8b36b2;">Community Experience</MudText>
    <br />
    <div class="community-grid">
        <div class="community-box">
            <MudText Align="Align.Center" Typo="Typo.h4">Server Manager & Developer for [REDACTED] Community</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"><strong>Duration:</strong> July 2021 - Present</MudText>
            <MudText Align="Align.Left" Typo="Typo.h6"><strong>Responsibilities:</strong> Managing daily server operations, troubleshooting, creating new systems such as custom SCP:SL plugins to handle game related moderation, Patreon system and syncing between C# Discord bot, plugin and API. Used to help manage the Discord, cleaning it up and making it efficient for users and staff.</MudText>
        </div>
    </div>
</section>



<section class="portfolio-section">
    <MudText Align="Align.Center" Typo="Typo.h3" Style="color:#8b36b2;">Projects</MudText>
    <br />
    <div class="project-grid">
        <div class="project-box">
            <MudText Align="Align.Center" Typo="Typo.h5" Style="color:#863f7e;">SCP:SL FAQ Project</MudText>
            <p class="project-description">The first FAQ source and FAQ website for SCP: Secret Laboratory.</p>
            <a href="https://github.com/DentyTxR/SCPSL-FAQ-Project" target="_blank">View </a>
        </div>
        <div class="project-box">
            <MudText Align="Align.Center" Typo="Typo.h5" Style="color:#863f7e;">ShowReportsInGame</MudText>
            <p class="project-description">A simple but modular moderation plugin for SCP: Secret Laboratory to provide staff in-game with live player and cheater reports via hints, broadcast and console.</p>
            <a href="https://github.com/DentyTxR/ShowReportsInGame" target="_blank">View </a>
        </div>
        <div class="project-box">
            <MudText Align="Align.Center" Typo="Typo.h5" Style="color:#863f7e;">CARDINAL</MudText>
            <p class="project-description">A semi-advanced full-stack system I developed to streamline and manage various personal tasks and projects.</p>
            <a href="#" class="disabled-link">Private</a>
        </div>
        <div class="project-box">
            <MudText Align="Align.Center" Typo="Typo.h5" Style="color:#863f7e;">GitHub Repositories</MudText>
            <p class="project-description">Explore a curated selection of my favorite work on this page. To view all my repositories, click the button below to visit my GitHub profile.</p>
            <a href="https://github.com/DentyTxR/" target="_blank">View </a>
        </div>
    </div>
</section>


<section class="contact-section">
    <MudText Align="Align.Center" Typo="Typo.h3" Style="color:#8b36b2;">My Socials</MudText>
    <br />
    <div class="contact-links">
        <div class="contact-item">
            <MudBlazor.MudIcon Icon="@Icons.Custom.Brands.Discord" />
            <span>Discord: dentytxr</span>
        </div>
        <div class="contact-item">
            <MudBlazor.MudIcon Icon="@Icons.Custom.Brands.GitHub" />
            <span><a href="https://github.com/dentytxr" target="_blank">GitHub: dentytxr</a></span>
        </div>
        <div class="contact-item">
            <MudBlazor.MudIcon Icon="@Icons.Custom.Brands.YouTube" />
            <span><a href="https://www.youtube.com/@@DentyTxR" target="_blank">YouTube: DentyTxR</a></span>
        </div>
        <div class="contact-item">
            <MudBlazor.MudIcon Icon="fab fa-twitch" />
            <span><a href="https://twitch.tv/dentytxr/" target="_blank">Twitch: DentyTxR</a></span>
        </div>
        <div class="contact-item">
            <MudBlazor.MudIcon Icon="@Icons.Material.Filled.Email" />
            <span><a href="mailto:dentytxr@gmail.com">dentytxr@gmail.com</a></span>
        </div>
    </div>
</section>
