@page "/testing"
@using Blazorise
@using Blazorise.Components
@using ghp_app.Components;

<h3>Testing</h3>

<head>
    <!-- Primary Meta Tags -->
    <title>Denty - Testinf</title>
    <meta name="title" content="Denty - Testing" />
    <meta name="description" content="test" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dentytxr.github.io/" />
    <meta property="og:title" content="Denty - About Me" />
    <meta property="og:description" content="My Portfolio" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://dentytxr.github.io/" />
    <meta property="twitter:title" content="Denty - About Me" />
    <meta property="twitter:description" content="My Portfolio" />
</head>

<script>
    var t = setInterval(function () {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t)
            window.goatcounter.visit_count({ append: 'body' })
        }
    }, 100)
</script>
<script data-goatcounter="https://031606.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>


<Blazorise.Button Color="Blazorise.Color.Primary" Clicked="ShowModal">
    Open Modal
</Blazorise.Button>

@if (DialogOpen)
{
    <ModalDialog Title="test"
                 Text="test"
                 DialogType="ModalDialog.ModalDialogType.Ok"
                 OnClose="OnClose">
    </ModalDialog>
}

@code {
    public required bool DialogOpen { get; set; } = false;

    private void ShowModal()
    {
        DialogOpen = true;
    }

    private void OnClose()
    {
        DialogOpen = false;
    }
}
